# Resend API Key for sending real emails
RESEND_API_KEY=

# Twilio Configuration for sending real SMS
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Sandbox Email for redirecting outgoing emails in Free/Trial mode
RESEND_SANDBOX_EMAIL=

# Gemini Configuration for AI Chatbot
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash


