rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Quy tắc toàn cục: Cho phép mọi quyền đọc/ghi cho người dùng đã đăng nhập
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
